---
import layoutmain from '/Users/USER/molecular-moon/src/layouts/layoutmain.astro';
---
<layoutmain title="About">
    <p>
        <h1 class="titulo1">Sobre mí</h1>
        <p>Soy un apasionado de Warhammer Fantasy Battles y he creado este sitio web para compartir mi amor por el juego y su rica historia. Aquí encontrarás recursos, guías y todo lo relacionado con la 6ª edición de Warhammer Fantasy Battles.</p>
        <p>Si tienes alguna pregunta o sugerencia, no dudes en contactarme a través de la sección de contacto.</p>
    </p>    
</layoutmain>
       
        