---
---
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <title>Blog</title>
    </head>
    <body>
        <a href="/src/pages/blog.astro">Blog</a>
        <a href="/src/content/post/reglasbasicas.md">Reglas Básicas</a>
        <a href="/src/content/post/psicologia.md">Psicología</a>
        <h1>Esta es la página principal del Blog</h1>
        <p>Aquí listaremos los artículos publicados</p>
        <ul>
            <li><a href="/src/content/post/reglasbasicas.md">Reglas Básicas</a></li>
            <li><a href="/src/content/post/psicologia.md">Psicología</a></li>
        </ul>
    </body>
</html>