---
import layoutmain from '/Users/USER/molecular-moon/src/layouts/layoutmain.astro';
---
<layoutmain title="Index">
  <p> 
    <div class="index">
      <img class="portadaindex" src="https://i.ibb.co/KQvd2Sn/Whats-App-Image-2025-04-20-at-09-52-27.jpg"  alt="Reglamento">
    </div>
    <h1 class="titulo1">WARHAMMER FANTASY BATTLES 6 EDICIÓN</h1>
  </p>
</layoutmain>
