body{
  background: linear-gradient(to right, rgb(187, 182, 35), rgb(112, 112, 52));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
  width: 100%;
  background: linear-gradient(to right, rgb(134, 11, 11), rgb(75, 8, 8));
  padding: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
nav ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav li{
  margin-right: 100px;
  display: inline-block;
}
 
h1.titulo1{
  color: white;
  text-align: center;
  position: relative;
  background: linear-gradient(to right, rgb(134, 11, 11), rgb(75, 8, 8));
}
  
img.portadaindex{
  width: 100%;
  display: inline-block;
  vertical-align: middle; 
  margin-right: 0px; 
}

nav a:hover{
  color: yellow;
} 
header a:hover{
  color: yellow;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: yellow;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top:40px;
  font-size: 14px;
}
footer section {
  float: right;
} 
footer a {
  transition: color 0.3s ease;
  color: #fff;
  text-decoration: none;
}
footer a:hover{
  color: yellow;
}  
footer p {
  margin: 0;
}
h1.titulopolitica{                            
  color: white;
  font-size: 300%;
  text-align: center;
  margin: 10%;
}
h1.tituloterminos{
  color: white;
  font-size: 300%;
  text-align: center;
  margin: 10%;
}


div.formulario-contacto{
  color: rgb(94, 12, 12);
  background-color: #f2f2f2;
  text-align: justify;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 50%;
}
.titulocontacto{
  color: rgb(94, 12, 12);
  font-size: 300%;
  text-align: center;
  margin: 10%;
}
button{
  display: block;
  margin: 0 auto;
}
p.p1{
  color: white;
  font-size: 200%;
  text-align: center;
  margin: 10%;
}